<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fengxue.webview">

    <uses-permission android:name="android.permission.INTERNET" />
    <application android:usesCleartextTraffic="true">
        <activity android:name=".WebViewActivity" />
    </application>
</manifest>
